
<!--

<h2>Wish text first item</h2>

<div class="container"  *ngIf = "Items.length>0" >
    <div>{{ Items[0].wishText }}</div>
</div>



<br>
<br>
<h2>Wish items...</h2>

<div *ngFor = "let item of Items ">
  {{item.wishText}}
</div>

 







<br><br>

<h2>Wish items list ...</h2>
  
  <div *ngIf = "Items.length==0">
      No items found
  </div>
 
  
<div *ngIf = "Items.length>0">
  <div class="container">
    <ul class ="wish-list">
      <li *ngFor="let item of Items">
        <div class ="form-check">
            <label class="form-check-label" *ngIf="item.isComplete"> 
                        <input class="checkbox" type ="checkbox"  checked /> {{item.wishText}} 
            </label>
            <label class="form-check-label" *ngIf="!item.isComplete"> 
              <input class="checkbox" type ="checkbox"   /> {{item.wishText}} 
            </label>
        </div>
      </li> 
    </ul>
  </div>
</div> 
 
--> 

<h2>Wish items using template</h2>


<form name="myform" id="myform" >

  <label for="wish">Wish Text</label><input type="text"  name="my_new_wish" [(ngModel)] ="newWishText"  >

  <input type="submit" value ='Add Wish' (click)="$event.preventDefault(); addNewWish()" >
  
  <input type="button" value ='Clear' (click)="clearWishes()" >

</form>


<br>
 <div class="container">

    <select [(ngModel)]="listFilter" (ngModelChange)="(updateFilter($event))">
      <option value="0" >All</option>
      <option value="1" >Fulfilled</option>
      <option value="2" >Unfulfilled</option>
    </select>

  </div> 
  
  <wish-list>
    [wishes]="visibleItems"
  </wish-list>
  
  <br>